{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
  "plugins": ["prettier-plugin-svelte"],
	"printWidth": 80,
	"proseWrap": "preserve",
	"requirePragma": false,
	"semi": true,
	"singleQuote": true,
  "svelteSortOrder": "scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": false
}
